<ul>
  <li id='project'><h1><%= @build.project.name.titleize %></h1></li>
  <li>
    <%= image_tag build_state(@build), :class => "status" %>
    <div>
      <h2><%= @build.name %></h2>
      <p>
        <%= @build.committer %> - <%= @build.pretty_date %>
        <br/>
        <%= @build.message %>
      </p>
    </div>
  </li>
</ul>
<div id='build_output'><%= pretty_print_log(@build.log) %></div>
