<ul>
  <li>
    <div>
      <h2><%= @build.name %></h2>
      <p>Date: <%= @build.created_at.strftime("%D") %></p>
      <p>Committer: <%= @build.committer %></p>
    </div>
    <%= image_tag build_state(@build) %>
  </li>
</ul>
<div id='build_output'><%= @build.log %></div>
