<li>
  <%= image_tag build_state(build), :class => "status" %>
  <div>
    <h2><%= link_to build.name, "/#{@project.name}/builds/#{build.id}" %></h2>
    <p>
      <%= build.committer %> - <%= build.pretty_date %>
      <br/>
      <%= build.message %>
    </p>
  </div>
</li>
