<p>
  <%= error_messages_for(:project) %>
</p>
<p>
  <%= f.label :name, "Project Name" %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :repo_uri, "Repository Location" %>
  <%= f.text_field :repo_uri %>
</p>
<p>
  <%= f.label :branch, "Branch" %>
  <%= f.text_field :branch %>
</p>
<p>
  <%= f.label :script, "Script" %>
  <%= f.text_field :script %>
</p>
