<p>
  <%= error_messages_for(:project) %>
</p>
<p>
  <%= f.label :name, "Project Name" %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :repo_uri, "Repository Location" %>
  <%= f.text_field :repo_uri %>
</p>
<p>
  <%= f.label :branch, "Branch" %>
  <%= f.text_field :branch %>
</p>
<p>
  <%= f.label :keep_build_number, "Number of builds to keep?" %>
  <%= f.text_field :keep_build_number %>
</p>
<p>
  <%= f.check_box :bundler, :class => 'checkbox' %>
  <%= f.label :bundler, "Bundler?", :class => 'checkbox' %>
</p>
<p>
  <%= f.label :script, "Script" %>
  <%= f.text_area :script %>
</p>
<p>
  <%= f.check_box :campfire, :class => 'checkbox' %>
  <%= f.label :campfire, "Campfire Notifications", :class => 'checkbox' %>
</p>
<p>
  <%= f.label :room, "Room" %>
  <%= f.text_field :room %>
</p>
<p>
  <%= f.label :account, "Account (subdomain)" %>
  <%= f.text_field :account %>
</p>
<p>
  <%= f.label :token, "API Token" %>
  <%= f.text_field :token %>
</p>
<p>
  <%= f.check_box :ssl, :class => 'checkbox' %>
  <%= f.label :ssl, "SSL?", :class => 'checkbox' %>
</p>

